* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  overflow: hidden;
}

.App {
  background: #ebccab;
  /* width: 100rem;
  height: 64rem; */
  width: 100vw;
  height: 100vh;
}

.content-container {
  display: flex;
  /* background-color: purple; */
}

.content-container > div {
  text-align: center;
  /* background-color: blue; */
  width: 30rem;
  margin: 20px 200px 0px 20px;
  text-align: center;
}
