* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  overflow: hidden;
}

/* html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
} */

/* #root {
  height: 100vh;
  width: 100vw;
} */

.App {
  background: #ebccab;
  width: 100rem;
  height: 64rem;
}

.content-container {
  display: flex;
  /* background-color: purple; */
}

.content-container > div{
  text-align: center;
  /* background-color: blue; */
  width: 30rem;
  margin: 20px 200px 0px 20px;
  text-align: center;
}
