.footer {
  height: 3.875rem;
  flex-shrink: 0;
  display: flex;
  margin-left: 2rem;
}

.contact-options {
  width: 18.4375rem;
  height: 3.875rem;
  flex-shrink: 0;
  position: fixed;
}

.contact-options > img {
  margin-right: 0.5rem;
}
