.footer {
  background: #ebccab;
  height: 3.875rem;
  flex-shrink: 0;
  display: flex;
  margin-left: 2rem;
}

.contact-options {
  /* display: flex; */
  /* align-items: center; */
  width: 18.4375rem;
  height: 3.875rem;
  flex-shrink: 0;
  background: #ebccab;
}

/* .footer{
    width: 18.4375rem;
    height: 3.875rem;
    flex-shrink: 0;
    background: #ebccab;
    margin-top: 7rem;
    margin-left: 2rem;
    margin-right: 60rem;
    margin-bottom: 1.8rem;
} */

.contact-options > img {
  margin-right: 0.5rem;
}
