.projects {
  display: flex;
  flex-direction: column;
  position: relative;
}

.pics-container {
  width: 350px;
  height: 300px;
  position: absolute;
  top: 40%;
  left: 6%;
  overflow: auto;
}

.pics-container > img {
  width: 20vw;
  height: 30vh;
  /* margin-bottom: 1rem; */
}
